.cars-bg {
  width: 100%;
  height: auto;
  position: relative;
}

.cars-content-box {
  padding: 0px !important;
  display: flex;
  flex-direction: column;
}

.cars-image {
  height: 635px;
  object-fit: cover;
  width: 50%;
}

.cars-text-content-box {
  display: flex;
  align-items: center;
}

.cars-text-content-box-reverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.cars-text {
  padding: 20px 60px;
}

.cars-text h2 {
  position: relative;
}

.cars-text h2::before {
  content: "";
  position: absolute;
  top: 35px;
  z-index: -1;
  width: 60px;
  height: 5px;
  background: #626464;
}

.cars-text p {
  margin-top: 10px;
  color: #252525;
  margin-bottom: 20px;
}

.btn-cars-detail {
  text-decoration: none;
  color: #111;
  outline: none;
  border: none;
  padding: 10px 15px;
  background: #e1e1e1;
  cursor: pointer;
  margin: 20px 0px;
}

.image-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.image {
  width: 100%
}

.image-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover .image-overlay {
  opacity: 1;
}

.image-overlay .bi {
  color: #fff;
}

.cars-text-image-box {
  display: flex;
  justify-content: space-between;
}

.cars-text-image {
  margin-top: 20px;
  width: 270px;
  min-height: 180px;
  cursor: pointer;
}

.cars-text-image:hover {
  filter: brightness(0.5);
}

.modal-content {
  background-color: #f0f0f0;
  padding: 20px;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.modal {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0.25s ease-in-out, opacity 0.25s ease-in-out,
    transform 0.25s ease-in-out;
}

.close-button {
  outline: none;
  border: none;
  cursor: pointer;
  width: 36px;
  right: 40px;
  padding: 10px 0px;
  background-color: lightgray;
  position: absolute;
}

.close-button .bi-x-lg {
  color: #252525;
  font-size: 12px;
}

.close-button:hover {
  background-color: darkgray;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.cars-text-image.modal-image-content {
  width: 600px;
  margin-top: 0px;
  cursor: default;
  filter: none;
}

@media (max-width: 1100px) {
  .cars-text-content-box,
  .cars-text-content-box-reverse {
    flex-direction: column-reverse;
  }
  .cars-image {
    width: 100%;
  }
  .cars-text-image {
    width: 97%;
    object-fit: cover;
  }
}

@media (max-width: 725px) {
  .cars-text-image.modal-image-content {
    width: 450px;
  }
}

@media (max-width: 550px) {
  .cars-text {
    padding: 20px 20px;
  }
  .cars-image {
    height: auto;
  }
  .modal-content {
    padding: 20px;
  }
  .close-button {
    right: 20px;
  }
  .cars-text-image.modal-image-content {
    width: 300px;
  }
}
