.ux-bg {
  width: 100%;
  height: auto;
}

.title-text {
  padding: 50px 0px 10px 60px;
}

.ux-text-content h2 {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 10px;
  position: relative;
  z-index: 99;
  color: #160e20;
}

.ux-text-content h2::before {
  position: absolute;
  z-index: -1;
  content: "行";
  color: #e1e1e1;
  font-weight: 700;
  left: 280px;
}

.ux-text-content p {
  font-size: 18px;
  font-weight: 400;
  color: #252525;
}
.btn-all-cars {
  padding: 8px 16px;
  text-decoration: none;
  background: linear-gradient(#f0f0f0, #f9f9f9);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  text-transform: uppercase;
  max-width: max-content;
  color: #160e20;
  font-size: 13px;
  border: none;
  cursor: pointer;
  display: block;
  margin-top: 20px;
}

.catalog-content-box {
  display: flex;
  align-items: center;
  padding: 40px 60px;
  position: relative;
}

.catalog-gradient {
  background: #ddd1eb;
}

.cars-catalog-image {
  width: 50%;
  height: 400px;
  object-fit: cover;
  position: relative;
}

.new-alert-image {
  position: absolute;
  z-index: 5;
  top: 60px;
  padding: 5px 20px;
  background: #7c4db3;
  color: #ddd1eb;
  border-radius: 0px 6px 6px 0px;
  text-transform: uppercase;
}

.text-catalog-text {
  width: 50%;
  padding: 20px 60px;
}

.text-catalog-text h3 {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}

.text-catalog-text h3::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 225px;
  z-index: 2;
  width: 5px;
  height: 5px;
  background: #7045a1;
}

.text-catalog-text p {
  font-size: 16px;
  width: 450px;
  margin-bottom: 10px;
}

.icons-content-box {
  display: flex;
  flex-direction: column;
}

.bi {
  font-size: 26px;
  color: #7045a1;
  margin-bottom: 10px;
}

.btn-sobre {
  padding: 8px 16px;
  text-decoration: none;
  background: linear-gradient(#f0f0f0, #f9f9f9);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  text-transform: uppercase;
  max-width: max-content;
  color: #160e20;
  font-size: 13px;
  border: none;
  cursor: pointer;
}

@media (max-width: 1050px) {
  .catalog-content-box {
    flex-direction: column;
    padding: 40px 20px;
  }
  .cars-catalog-image {
    width: 100%;
  }
  .text-catalog-text {
    width: 100%;
    padding: 20px 20px;
  }
  .catalog-gradient {
    background: #ddd1eb;
  }
  .ux-text-content p {
    width: 100%;
  }
  .title-text {
    padding: 50px 30px 10px 30px;
  }
}

@media (max-width: 550px) {
  .cars-catalog-image {
    object-fit: cover;
    max-height: 350px;
  }
}
