.highlights-bg {
  width: 100%;
  height: auto;
}

.highlight-title {
  padding: 0px 60px;
  margin-top: 20px;
  font-size: 40px;
  color: #212121;
}

.highlight-paragraph {
  padding: 0px 60px;
  margin-bottom: 20px;
  color: #252525;
}

.highlights-content-box {
  display: flex;
  align-items: center;
}

.highlights-content-box-reverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.highlights-bg figure {
  width: 50%;
  height: 635px;
}

.highlight-image {
  height: 635px;
  object-fit: cover;
  width: 100%;
}

.highlight-text {
  width: 50%;
  padding: 20px 60px;
}

.highlight-text h2 {
  position: relative;
  color: #252525;
  font-size: 42px;
}

.highlight-text p {
  margin-top: 10px;
  color: #252525;
  margin-bottom: 20px;
}

@media (max-width: 1100px) {
  .highlights-content-box, .highlights-content-box-reverse {
    flex-direction: column;
  }
  .highlights-bg figure, .highlight-text  {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .highlight-title, .highlight-paragraph, .highlight-text {
    padding: 20px 20px;
  }
}