.main-content {
  display: flex;
  align-items: center;
  height: 635px;
}

.text-content {
  width: 50%;
  color: #212121;
  position: relative;
}

.text-content h1 {
  font-size: 82px;
}

.kanji-1, .kanji-2 {
  position: relative;
}

.kanji-1::before {
  position: absolute;
  z-index: -1;
  content: "行";
  color: #e1e1e1;
  font-weight: 700;
  left: 180px;
}

.kanji-2::before {
  position: absolute;
  z-index: -1;
  content: "行";
  color: #e1e1e1;
  font-weight: 700;
  left: 255px;
}

.info-link {
  color: #212121;
  margin-top: 20px;
}

[data-tooltip="info"] {
  position: relative;
  background: #252525;
  color: #FFF;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 5px;
}

[data-tooltip="info"]:hover {
  transition: 0.3s;
  background: #7c4db3;
}

[data-tooltip="map"] {
  display: none;
  width: 400px;
  height: 260px;
  right: 0;
  border: 5px solid #252525;
  position: absolute;
  z-index: 999;
  border-radius: 6px;
  #map {
    width: 100%;
    height: 250px;
    outline: none;
    border: none;
  }
}

[data-tooltip="map"].active {
  display: block;
}


.paragraph {
  margin-top: 20px;
  font-size: 18px;
  position: relative;
  color: #252525;
}

.strong-paragraph {
  font-weight: 700;
  font-size: 26px;
  margin-right: 2px;
  text-transform: uppercase;
}

.image-content {
  background: url(../img/background-toru-resize.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 635px;
  width: 50%;
}

@media (max-width: 1100px) {
  .main-content {
    flex-direction: column;
    height: auto;
    align-items: start;
  }
  .image-content, .text-content {
    width: 100%;
  }
  .text-content h1 {
    font-size: 52px;
  }
  .paragraph {
    top: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .kanji-1::before {
    left: 110px;
  }
  .kanji-2::before {
    left: 165px;
  }
  .kanji-3::before {
    left: 240px;
  }
}
