.main-content {
  display: flex;
  align-items: center;
  height: 635px;
}

.text-content {
  width: 50%;
  color: #212121;
  position: relative;
}

.text-content h1 {
  font-size: 82px;
}

.kanji-1, .kanji-2, .kanji-3 {
  position: relative;
}

.kanji-1::before {
  position: absolute;
  z-index: -1;
  content: "行";
  color: #e1e1e1;
  font-weight: 700;
  left: 180px;
}

.kanji-2::before {
  position: absolute;
  z-index: -1;
  content: "行";
  color: #e1e1e1;
  font-weight: 700;
  left: 255px;
}

.kanji-3::before {
  position: absolute;
  z-index: -1;
  content: "行";
  color: #e1e1e1;
  font-weight: 700;
  left: 365px;
}

.info-link {
  color: #212121;
}

.paragraph {
  font-size: 14px;
  position: relative;
  top: 40px;
  color: #252525;
}

.upper-paragraph {
  font-size: 32px;
  font-weight: 700;
  margin-right: 2px;
}

.image-content {
  background: url(https://images.hdqwalls.com/wallpapers/mazda-rx-7-digital-art-4k-13.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 635px;
  width: 50%;
}

@media (max-width: 1100px) {
  .main-content {
    flex-direction: column;
    height: auto;
    align-items: start;
  }
  .image-content, .text-content {
    width: 100%;
  }
  .text-content h1 {
    font-size: 52px;
  }
  .paragraph {
    top: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .kanji-1::before {
    left: 110px;
  }
  .kanji-2::before {
    left: 165px;
  }
  .kanji-3::before {
    left: 240px;
  }
}
