@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;800&display=swap");

@import url(header.css);
@import url(main.css);
@import url(cars.css);
@import url(services.css);
@import url(catalog-home.css);
@import url(catalog-cars-details.css);
@import url(footer.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-width: 320px;
  max-width: 1500px;
  margin: 0 auto;
  scroll-behavior: smooth;
}

body {
  background: #efeaf6;
  font-family: "Poppins", sans-serif;
}

.container {
  padding: 20px 60px;
  margin: 0 auto;
}

@media (max-width: 550px) {
  .container {
    padding: 20px 20px;
  }
}
